body {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Berlin sans fb';
    background-color: black;
    display: flex;
    justify-content: center;
}

.form-box {
    
   
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.register-container {
    display: flex;
    width: 500px;
    
    justify-content: left;
    flex-direction: column;
    
    
    padding: 5px;
    border-radius: 8px;
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}



.two-forms {
    display: flex;
}

.input-field, #fac {
    margin: 10px;
    font-size: 15px;
    background: #1D1C18;
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    /* outline: none; */
    transition: .2s ease;
}


.input-field:hover, .input-field:focus, #fac:hover, #fac:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box i {
    
    color: #fff;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: #E1DBBD;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: #E2AC0D;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: #fff;
}

.two label a:hover {
    text-decoration: underline;
}
.left-container img {
    max-width: 500px; 
    height: auto;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.left-container, .right-container {
    padding: 20px;
}
.acc{
    margin: 10px;
    font-size: 15px;
    
    color: #fff;
    height: 50px;
    width: 100%;
    
    transition: .2s ease;
}

/* -------------------------------- */

/* The container must be positioned relative: */
.custom-select {
    padding: 10px  ;
    position: relative;
    font-family: Arial;

  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #1D1C18;
    
    font-size: 15px;
    background: #1D1C18;
    color: #fff;
    
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    /* outline: none; */
    transition: .2s ease;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #1D1C18;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }